/* @import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap'); */
.quize-container{
    background-color: #fff;
    border-radius: 10px;
    /* -->border: 2px solid black; */
    box-shadow: 0 0 1000px 100px black;
    width: 600px;
    overflow: hidden; /* Noting now out of the container */
}
.quize-header{
    /* border: 1px solid rgb(244, 9, 9); */
    padding: 02rem;
    /* background-color: blue; */
}
h1{
    margin: 0px;
}
ul{
    /* background-color: black; */
    /* margin-top: 100px; */
    list-style: none;
    padding: 2px;
}
ul li{
    font-size: 1.2rem;
    margin: 0.7rem 0;
}
ul li label{
    cursor: pointer; /*It is used to change the cursor from arrow to finger pointer */
}
body{
    background-color: rgb(90, 135, 197);
    /* font-family: 'Libertinus Mono',sans-serif); */
    display: flex;
    flex-direction: column;
    /* -->padding-top: 250px; */
    
    align-items: center;
    /* justify-content: center; */
    /* align-content: center; */
}
button{
    padding: 1.3rem;
    border: none;
    background-color: rgb(170, 6, 252);
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.8rem;
    /* font-family: inherit; */
}
button:hover{
    background-color: #6d2989;
}
button:focus{ /*select and style an input field when it gets focus */
    outline: none; /* no outline like dashed , double etc */
    background-color: blue;
}
